body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    width: 90%;
    max-width: 1200px; /* Ajustar el ancho máximo */
    height: 80%; /* Reducir la altura total */
    max-height: 700px; /* Altura máxima */
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.formulario {
    background-color: #f8f8f8;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 15px; /* Reducir el padding para compactar */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.formulario h1 {
    color: #025250;
    font-size: 1.5em; /* Reducir el tamaño del título */
    margin-bottom: 15px; /* Menor espacio debajo del título */
    text-align: center;
}

.formulario form {
    width: 100%;
    max-width: 350px; /* Reducir el ancho máximo del formulario */
    display: flex;
    flex-direction: column;
    gap: 8px; /* Reducir el espacio entre los elementos */
}

.formulario label {
    color: #025250;
    font-size: 0.9em; /* Reducir el tamaño de las etiquetas */
}

.formulario input {
    padding: 10px; /* Reducir el relleno interno */
    font-size: 14px; /* Reducir el tamaño de la fuente */
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
}

.formulario .enviar,
.formulario .volver {
    padding: 10px;
    background-color: #3d989b; /* Color base */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    max-width: 200px;
    margin-top: 10px;
    text-align: center;
    transition: background-color 0.3s ease; /* Transición suave para hover */
}

.formulario .enviar:hover,
.formulario .volver:hover {
    background-color: #EEE543; /* Cambiar color al pasar el cursor */
}

.verdesur {
    background-color: #025250;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
    text-align: center;
}

.verdesur img {
    width: 50%;
    height: auto;
    margin-bottom: 20px;
}

.verdesur p.mensaje {
    font-size: 1em;
    margin-top: 10px;
}
